body {
  background: url("bg-image.jpg") no-repeat center center/cover;
  min-height: 100vh;
  font-family: sans-serif;
}

.techquize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.quation,
.answer {
  width: 400px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
}

.quizetechquation {
border: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin: 8px 0;
  transition: background-color 0.3s;
  color: white;
  font-weight: bold;
}

.quizetechquation:hover {
  background-color: #e7d90c;
  transform: scale(1.02);
  color: black;
}

.answer ul {
  list-style: none;
  padding: 0;
}

.answer li {
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  backdrop-filter: blur(5px);
  transition: 0.3s ease-in-out;
  cursor: pointer;
    font-weight: bold;
}

/* Hover effect if not answered */
.answer li:hover {
  transform: scale(1.02);
  background-color: #e7d90c;
  color: black;
}

li.correct {
  background: rgba(40, 167, 69, 0.7) !important;
  ;
  /* green glass */
  border: 1px solid #28a745;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(6px);
}

li.wrong {
  background: rgba(220, 53, 69, 0.7);
  /* red glassy */
  border: 1px solid #dc3545;
  color: white;
  font-weight: bold;
  backdrop-filter: blur(6px);
  background-color: #dc3545 ! important;
}